In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#Data yang belum dibersihkan
print("Data yang belum dibersihkan:\n")

#Customers
df = pd.read_csv('customers.csv')

#Menampikkan hasil tabel untuk 5 baris pertama
tabel_customer = df.head()

#Memberikan informasi terkait tabel customers secara keseluruhan
info_customer = df.info()
# print(tabel_customer)
print(info_customer)

# #Mencari data kosong
total_customer_kosong = df.isna().sum()
print(total_customer_kosong)

# #Mencari data yang duplikat
customer_duplikat = df.duplicated().sum()
print("Customer duplikat sebelum dibersihkan: ", customer_duplikat)

#Menampilkan deskripsi statistik (khusus data numerik)
deskripsi_customer = df.describe()
print(deskripsi_customer)

# #Menghapus data yang duplikat
customer_duplikat = df.drop_duplicates(inplace = True)
print("Customer yang duplikat setelah dibersihkan: ", customer_duplikat)

#Filter data untuk melihat data gender pada Customer yang kosong
gender_kosong = df[df.gender.isna()]
print(gender_kosong)

#Cek isi elemen pada kolom / variabel tertentu 
isi_gender = df.gender.value_counts()
print(isi_gender)

#Pembersihan data kosong (Cara 1)
df.fillna(value="Non Binary", inplace =True)
isi_gender = df.gender.value_counts()
print(isi_gender)

total_customer_kosong = df.isna().sum()
print(f"Jumlah gender setelah dibersihkan:\n{total_customer_kosong}")

#Pembersihan data kosong (Cara 2)
df['gender'] = df['gender'].fillna(value = "Non Binary Gaming")
isi_gender = df.gender.value_counts()
print(isi_gender)
total_customer_kosong = df.isna().sum()
print(f"Jumlah gender setelah dibersihkan:\n{total_customer_kosong}")

#Cek umur maksimum pada Customer
umur_max = df[df.age == df.age.max()]
print(umur_max)

#Mengganti elemen suatu kolom dengan replace()
df['age'] = df['age'].replace(df.age.max(), 70)
umur_max = df[df.age == df.age.max()]
deskripsi_customer = df.describe()
print(deskripsi_customer)
print(f"Umur setelah diperbaiki:\n{umur_max}")

#Setelah dicek, ternyata masih ada data yang belum akurat, yaitu data untuk customer id 261, maka kita perlu melakukan replace sekali lagi
df['age'] = df['age'].replace(df.age.max(), 50)
umur_max = df[df.age == df.age.max()]
deskripsi_customer = df.describe()
print(deskripsi_customer)
print(f"Umur setelah diperbaiki untuk ke-2 kalinya:\n{umur_max}")

Data yang belum dibersihkan:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1007 non-null   int64
 1   customer_name  1007 non-null   object
 2   gender         989 non-null    object
 3   age            1007 non-null   int64
 4   home_address   1007 non-null   object
 5   zip_code       1007 non-null   int64
 6   city           1007 non-null   object
 7   state          1007 non-null   object
 8   country        1007 non-null   object
dtypes: int64(3), object(6)
memory usage: 70.9+ KB
None
customer_id       0
customer_name     0
gender           18
age               0
home_address      0
zip_code          0
city              0
state             0
country           0
dtype: int64
Customer duplikat sebelum dibersihkan:  6
       customer_id          age     zip_code
count  1007.000000  1007.000000  1007.000000
mean    501.726912    50.929494  5012.538232
std     288.673238    30.516299  2885.836112
min       1.000000    20.000000     2.000000
25%     252.500000    34.000000  2403.500000
50%     502.000000    50.000000  5087.000000
75%     751.500000    65.000000  7493.500000
max    1000.000000   700.000000  9998.000000
Customer yang duplikat setelah dibersihkan:  None
     customer_id customer_name gender  age                     home_address  \
38            39      fulan 39    NaN   80  7440 Cameron Estate DrSuite 628
167          168     fulan 168    NaN   27         2781 Berge MallSuite 452
322          322     fulan 322    NaN   30        593 Becker CircleApt. 333
393          393     fulan 393    NaN   34          5158 Levi HillSuite 531
442          442     fulan 442    NaN   26           5157 Feil RoadApt. 633
722          720     fulan 720    NaN   40         31 Jordan ParadeApt. 400
745          743     fulan 743    NaN   57   09 Christopher StreetSuite 967
773          771     fulan 771    NaN   74     7367 Wright JunctionApt. 773
798          795     fulan 795    NaN   49          487 Summer MewsApt. 874
801          798     fulan 798    NaN   56           27 Aiden KnollApt. 875
825          822     fulan 822    NaN   59        41 Jenkins KnollSuite 438
859          855     fulan 855    NaN   55       603 O'keefe KnollSuite 782
863          859     fulan 859    NaN   38            32 Isla GroveApt. 078
914          909     fulan 909    NaN   62    976 Murray Station StApt. 036
934          929     fulan 929    NaN   68           394 Lily HillSuite 153
948          943     fulan 943    NaN   64       3117 Heller PlaceSuite 149
952          946     fulan 946    NaN   24      8227 Nicholas HillSuite 150
994          988     fulan 988    NaN   35   1130 Turner Estate DrSuite 925

     zip_code                   city                         state    country
38       4622  North Victoriachester            Northern Territory  Australia
167      1975         North Leoburgh             Western Australia  Australia
322      1640             Jacobiview             Western Australia  Australia
393      1474             Johnsburgh                    Queensland  Australia
442      7249             Port Chloe               New South Wales  Australia
722      1380             West Henry               South Australia  Australia
745      6226         Lake Lukemouth             Western Australia  Australia
773      8882               Kuhntown                      Victoria  Australia
798      1712            East Hayden  Australian Capital Territory  Australia
801      6531               Port Sam  Australian Capital Territory  Australia
825      2588        Lake Andrewport               South Australia  Australia
859      8822        Port Dylanmouth                      Tasmania  Australia
863      7711            Rosechester               New South Wales  Australia
914      3227               Langfort                      Tasmania  Australia
934      2353             Beahanfurt            Northern Territory  Australia
948       822           North Elijah               South Australia  Australia
952       115           South Jasper                    Queensland  Australia
994      9386              New Harry             Western Australia  Australia
gender
Prefer not to say    725
Male                 143
Female               115
Name: count, dtype: int64
gender
Prefer not to say    725
Male                 143
Female               115
Non Binary            18
Name: count, dtype: int64
Jumlah gender setelah dibersihkan:
customer_id      0
customer_name    0
gender           0
age              0
home_address     0
zip_code         0
city             0
state            0
country          0
dtype: int64
gender
Prefer not to say    725
Male                 143
Female               115
Non Binary            18
Name: count, dtype: int64
Jumlah gender setelah dibersihkan:
customer_id      0
customer_name    0
gender           0
age              0
home_address     0
zip_code         0
city             0
state            0
country          0
dtype: int64
     customer_id customer_name             gender  age  \
967          961     fulan 961  Prefer not to say  700

                   home_address  zip_code        city            state  \
967  29 Farrell ParadeSuite 818      6528  New Joseph  South Australia

       country
967  Australia
       customer_id          age     zip_code
count  1001.000000  1001.000000  1001.000000
mean    500.942058    50.323676  5000.693307
std     289.013599    22.665946  2886.084454
min       1.000000    20.000000     2.000000
25%     251.000000    34.000000  2398.000000
50%     501.000000    50.000000  5079.000000
75%     751.000000    65.000000  7454.000000
max    1000.000000   500.000000  9998.000000
Umur setelah diperbaiki:
     customer_id customer_name             gender  age  \
215          216     fulan 216  Prefer not to say  500

               home_address  zip_code       city               state  \
215  038 Haley MewsApt. 810      3991  Bayertown  Northern Territory

       country
215  Australia
       customer_id          age     zip_code
count  1001.000000  1001.000000  1001.000000
mean    500.942058    49.874126  5000.693307
std     289.013599    17.644663  2886.084454
min       1.000000    20.000000     2.000000
25%     251.000000    34.000000  2398.000000
50%     501.000000    50.000000  5079.000000
75%     751.000000    65.000000  7454.000000
max    1000.000000    80.000000  9998.000000
Umur setelah diperbaiki untuk ke-2 kalinya:
     customer_id customer_name             gender  age  \
34            35      fulan 35               Male   80
38            39      fulan 39         Non Binary   80
142          143     fulan 143  Prefer not to say   80
154          155     fulan 155               Male   80
170          171     fulan 171  Prefer not to say   80
174          175     fulan 175  Prefer not to say   80
181          182     fulan 182               Male   80
235          236     fulan 236  Prefer not to say   80
424          424     fulan 424  Prefer not to say   80
438          438     fulan 438  Prefer not to say   80
495          495     fulan 495               Male   80
524          524     fulan 524  Prefer not to say   80
598          597     fulan 597  Prefer not to say   80
703          702     fulan 702  Prefer not to say   80
734          732     fulan 732  Prefer not to say   80

                          home_address  zip_code                   city  \
34   3168 Bartoletti CrescentSuite 878       593             Port Lucas
38     7440 Cameron Estate DrSuite 628      4622  North Victoriachester
142        87 Hahn Station StSuite 943      8254               New Ella
154           85 Charles MallSuite 424      7841            Port Sophia
170              16 Boyer WaySuite 018      6226          South Gabriel
174             57 David MallSuite 596      3129                Haneton
181           32 Thomas CrestSuite 753      2147             Archiefurt
235            64 Phillips RunApt. 722      2752            East Sienna
424            03 Grant CrestSuite 228      5743      Lake Charliemouth
438          569 Alyssa IslandApt. 766      6893             Hunterland
495          1798 Schultz MewsApt. 704      9409           Lake Caitlin
524            0358 Ashley WayApt. 506      3345     Port Sebastianland
598          78 O'hara CircuitApt. 096      1966       Lake Michaelbury
703              61 Bosco WaySuite 775       685        Thompsonborough
734    905 Stephanie BoulevardApt. 217      8114          Port Aaronton

                  state    country
34           Queensland  Australia
38   Northern Territory  Australia
142            Victoria  Australia
154     New South Wales  Australia
170   Western Australia  Australia
174     South Australia  Australia
181          Queensland  Australia
235     New South Wales  Australia
424   Western Australia  Australia
438   Western Australia  Australia
495     New South Wales  Australia
524          Queensland  Australia
598     South Australia  Australia
703   Western Australia  Australia
734          Queensland  Australia