In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#Data yang belum dibersihkan
print("Data yang belum dibersihkan:\n")

#Sales
df = pd.read_csv('sales.csv')

#Informasi tabel sales
info_sales = df.info()
print(info_sales)

#Mencari kolom yang kosong
sales_kosong = df.isna().sum()
print(sales_kosong)

#Mencari info lebih lanjut terkait kolom yang kosong
daftar_kosong = df[df.total_price.isna()]
print(daftar_kosong)

#Pemberersihan data kosong dengan mengisinya dengan nilai produtct * quantity
df['total_price'] = df['price_per_unit'] * df['quantity']

sales_kosong = df.isna().sum()
print(sales_kosong)

#Cara mengecek salah satu nilai di elemen tertentu pada kolom tertentu
print(df[df['sales_id'] == 9]['total_price'])

Data yang belum dibersihkan:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sales_id        5000 non-null   int64
 1   order_id        5000 non-null   int64
 2   product_id      5000 non-null   int64
 3   price_per_unit  5000 non-null   int64
 4   quantity        5000 non-null   int64
 5   total_price     4981 non-null   float64
dtypes: float64(1), int64(5)
memory usage: 234.5 KB
None
sales_id           0
order_id           0
product_id         0
price_per_unit     0
quantity           0
total_price       19
dtype: int64
      sales_id  order_id  product_id  price_per_unit  quantity  total_price
9            9         2        1196             105         1          NaN
121        121        27        1027              90         3          NaN
278        278        63         360              94         2          NaN
421        421        95        1091             115         1          NaN
489        489       108        1193             105         3          NaN
539        539       117         405             119         2          NaN
636        636       134         653              93         3          NaN
687        687       145        1138             102         1          NaN
854        854       177          64             104         1          NaN
1079      1079       222         908              94         3          NaN
1193      1193       248        1121             102         2          NaN
1313      1313       272         826             117         1          NaN
1548      1548       316         103             118         3          NaN
1688      1688       345         428             107         1          NaN
1775      1775       359         694             113         2          NaN
1902      1902       381        1218             105         3          NaN
2025      2025       408         611             112         3          NaN
2164      2164       436         583             100         3          NaN
2347      2347       476         696             113         2          NaN
sales_id          0
order_id          0
product_id        0
price_per_unit    0
quantity          0
total_price       0
dtype: int64
9    105
Name: total_price, dtype: int64