In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Baca data Customers
df = pd.read_csv('orders.csv')

# Convert 'order_date' and 'delivery_date' to datetime format
df['order_date'] = pd.to_datetime(df['order_date'])
df['delivery_date'] = pd.to_datetime(df['delivery_date'])

# Proses pembuatan kolom baru bernama delivery_time
delivery_time = df['delivery_date'] - df['order_date']

# Convert the timedelta to total seconds, then to days
delivery_time = delivery_time.apply(lambda x: x.total_seconds())

# Add delivery time in days to the dataframe (86400 seconds = 1 day)
df['delivery_time'] = round(delivery_time / 86400)

# Show the resulting dataframe
df.describe(include="all")

,order_id,customer_id,payment,order_date,delivery_date,delivery_time
count,1000.000000,1000.000000,1000.000000,1000,1000,1000.000000
mean,500.500000,506.640000,33972.936000,2021-05-27 18:38:52.800000,2021-06-10 20:31:12,14.078000
min,1.000000,1.000000,10043.000000,2021-01-01 00:00:00,2021-01-03 00:00:00,1.000000
25%,250.750000,275.250000,21329.250000,2021-03-13 18:00:00,2021-03-28 00:00:00,8.000000
50%,500.500000,515.000000,33697.500000,2021-05-27 12:00:00,2021-06-11 12:00:00,14.000000
75%,750.250000,737.250000,46249.000000,2021-08-12 06:00:00,2021-08-24 06:00:00,21.000000
max,1000.000000,1000.000000,59910.000000,2021-10-24 00:00:00,2021-11-20 00:00:00,27.000000
std,288.819436,277.115502,14451.609047,NaN,NaN,7.707225